{
  "extends": ["airbnb-base", "prettier"],
  "plugins": ["mocha"],
  "env": {
    "mocha": true
  },
  "globals": {
    "expect": true,
    "request": true
  },
  "rules": {
    "func-names": 0,
    "no-underscore-dangle": 0
  }
}
